# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual enviroment
venv

# Config where some important stuff is stored (api_token for example)
config.py

# temp pictures
temp/*